<title>Cantidad de Votos</title>
{% extends "layout.html" %}

{% block content %}

<h1>Cantidad de votos</h1><br>

<p>Porcentaje de votos: </p>
{{ porcent_votos }} <p>%</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Lista</th>
        <th scope="col">Cantidad de Votos</th>
      </tr>
    </thead>
    <tbody>

        {% for r in cant_votos %}
            <tr>
                <td>
                    {{r.0}}
                </td>
                <td>
                    {{r.1}}
                </td>
            <tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}



