<title>Cantidad de Votos</title>
{% extends "layout.html" %}

{% block content %}
<div class="text-center mt-3">

  <h1>Recuento de Votos en tiempo real</h1>

</div>

<div class="col-4 mt-5 mx-auto">

  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="col-4">Lista</th>
        <th scope="col" class="col-4">Cantidad de Votos</th>
      </tr>
    </thead>
    <tbody>
      {% for r in cant_votos|sort(attribute="1", reverse=True) %}
            <tr>
                <td class="col-4">{{r.0}}</td>
                <td class="col-4">{{r.1}}</td>
            <tr>
        {% endfor %}
    </tbody>
  </table>

</div>

<div class="text-center mt-6">

  <h4>Porcentaje de Votación del Padrón: {{ porcent_votos }} %</h4>

</div>

{% endblock %}



