<title> Login </title>
{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-start" style="height:100vh">
    <form action="" method="post" class="bg-light p-5 text-left" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="{{ form.username.id }}">Usuario</label>
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id }}">Contraseña</label>
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}