<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    {% endblock %}
</head>
<body>
<main>

    <div class="container mb-5">

        <!-- Header -->
        <header class="d-flex flex-wrap py-3 mb-5 border-bottom">

            {% if session.username %}

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
                <div class="container">
                    <a class="navbar-brand" href="/votos/resultado">Elecciones APFA</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/votos/votar">Votar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/votos/resultado">Resultados</a>
                            </li>


                            {% if session.username=="admin" %}

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/administrator/cargarLista">Agregar
                                    Lista</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" style="color:#3e3e3d " aria-current="page"
                                   href="/administrator/cargarLista">Agregar Lista</a>
                            </li>
                            {% endif %}

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/auth/logout">Logout</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            {% else %}

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
                <div class="container">
                    <a class="navbar-brand" href="/votos/resultado">Elecciones APFA</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/auth/login">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/auth/register">Registrarse</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            {% endif %}

        </header>

    </div>

</main>

<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="d-flex justify-content-center">
        <span class="text-muted"> APFA © <script>document.write(new Date().getFullYear())</script> </span>
    </div>
</footer>

</body>
<!-- Your page content -->
{% block content %}
{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}


</html>

